.posts__post {
    border: solid #000 2px;
    margin-bottom: 20px;
}

.post__title {
    background-color: #0000003a;
    padding: 10px;
    border-bottom: 2px solid #000;
}

.text {
    padding: 10px 5px;
}